<div class="ContactsListContact{{if selected " selected"}}{{if disabled " disabled"}}"{{action "onClick"}}>
    <div class="ContactsListContact-avatar">
        <img src="{{image}}" class="ContactsListContact-image img-circle border-white" width="40">
    </div>
    <div class="ContactsListContact-name">
        {{text}}
    </div>
    {{#if icon}}
    <div class="ContactsListContact-icon">
        <i class="{{icon}}"></i>
    </div>
    {{/if}}
</div>
